body {
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.cards-container {
   display: flex;
   width: 100%;
   padding: 50px;
}

.cards-container .card {
   background-color: rgb(228, 101, 101);
   color: white;
   width: 300px;
   height: 350px;
   border-radius: 10px;
   padding: 30px;
   box-sizing: border-box;
   position: relative;
   /* Evitar problemas de layout ya que las tarjetas estarán encimadas */
   display: flex;
   flex-direction: column;

   transition: all 0.3s ease;
   /* Aplica a: transform: rotate(3deg) translateY(-15px); */

   /* Agregamos más de una sombra */
   box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3),
      -4px 0 10px rgba(0, 0, 0, 0.2),
      -5px 0 10px rgba(0, 0, 0, 0.1);
}

.cards-container .card a {
   color: yellow;
   text-decoration: none;
   font-weight: bold;
}

.cards-container .card a:hover {
   color: lightyellow;
}

.cards-container .card .header {
   flex: 1;
   /* Hace que el header ocupe la mayor cantidad de espacio en el contenedor */
}

.cards-container .card:hover {
   margin-right: 80px;
   transform: rotate(3deg) translateY(-15px);
   /* Aplicamos el giro, cuya transición viene dada por: transition: all 0.3s ease; */
}

.cards-container .card .header .date {
   padding: 10px 0;
}

.cards-container .card .header .title {
   font-size: 28px;
}

/* Centrar la imagen con el nombre */
.cards-container .card .footer .author a {
   display: flex;
   align-items: center;
   gap: 10px;
}

/* Ajustar la imágen y hacer que se vea de forma circular */
.cards-container .card .footer img {
   width: 48px;
   border-radius: 50%;
}

/* Selecciono a todos los elementos que tengan esa clase */
.cards-container .card[class*="element"] {
   margin-left: -100px;
}

.element-2:hover,
.element-3:hover {
   margin-left: -130px;
}