body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
}

nav {
   background-color: black;
   color: white;
   width: 100%;
   position: fixed;
   top: 0;
}

nav .mobile {
   display: none;
}

nav .logo {
   min-width: 250px;
}

nav a {
   color: white;
   text-decoration: none;
   display: block; /* Para manejar correctamente el padding */
   padding: 20px 25px;
}

nav a:hover {
   color: black;
   background-color: rgb(0, 195, 255);
}

nav .desktop {
   display: flex;
   justify-content: space-between; /* Alineación Horizontal */
   align-items: center; /* Alineación Vertical */
   padding: 0px 20px;
}

nav .desktop .primary,
nav .desktop .secondary {
   display: flex;
}

nav .desktop .secondary.mini {
   display: none;
}

/* Desktop: reducción del tamaño de la pantalla */
@media screen and (max-width: 900px){
   nav .logo {
      min-width: 100px;
   }

   nav .desktop .secondary.full {
      display: none;
   }

   nav .desktop .secondary.mini {
      display: block; /* !important */
   }

   nav .desktop .secondary.mini .submenu {
      position: absolute;
      display: none;
   }

   nav .desktop .secondary.mini:hover .submenu {
      background-color: black;
      width: 200px;
      right: 0;
      display: block;
   }
}

/* Mobile */
@media screen and (max-width: 500px){
   nav .more{
      fill: #ffffff;
   }
   nav .desktop,
   nav .mobile .links{
      display: none;
   }

   nav .mobile {
      display: block;
   }

   nav .mobile .header{
      display: flex;
      justify-content: space-between; /* Alineación Horizontal */
      align-items: center; /* Alineación Vertical */
      padding: 0px 20px;
   }

   nav .mobile .header .more button {
      border: none;
      background-color: rgb(0, 0, 0);
      /* color: white; el color se estableció en nav .icon-menu */
      padding: 15px;
      cursor: pointer;
   }

   .collapsed {
      display: block !important;
   }


}